<app-slider [nombre]="'Peliculas'">

</app-slider>
<div *ngIf="favorita">  
    <h1>Pelicula Favorita</h1>
    <h2>{{ favorita.title | uppercase }}</h2>
    <h2>{{ favorita.year }}</h2>
    <h3>{{ fecha | date }}</h3>
</div>
<div class="center">
    <section id="content">

        <h1 class="subheader">{{titlePelicula}}</h1>
        <button (click)="cambiarTitulo()">Cambiar titulo</button>
        {{peliculas[0].title}}
        <hr />
        <h2>Numero de peliculas</h2>

        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas peliculas
        </div>
        <hr />
        <h2 class="subheader">Listado de peliculas</h2>
        <div id="articles" *ngIf="peliculas">

            <div *ngFor="let pelicula of peliculas let i = index">
                <app-pelicula 
                    [pelicula]="pelicula" 
                    (MarcarAPadre)="recibirPadre($event)"
                    >
                    
                </app-pelicula>
            </div>

        </div>

    </section>

    <app-sidebar></app-sidebar>
</div>